<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.codingmore.mpg.mapper.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.codingmore.mpg.entity.Comments">
        <id column="comment_id" property="comment_id" />
        <result column="comment_post_id" property="comment_post_id" />
        <result column="comment_author" property="comment_author" />
        <result column="comment_author_email" property="comment_author_email" />
        <result column="comment_author_url" property="comment_author_url" />
        <result column="comment_author_ip" property="comment_author_ip" />
        <result column="comment_date" property="comment_date" />
        <result column="comment_content" property="comment_content" />
        <result column="comment_approved" property="comment_approved" />
        <result column="comment_agent" property="comment_agent" />
        <result column="comment_type" property="comment_type" />
        <result column="comment_parent" property="comment_parent" />
        <result column="user_id" property="user_id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, comment_post_id, comment_author, comment_author_email, comment_author_url, comment_author_ip, comment_date, comment_content, comment_approved, comment_agent, comment_type, comment_parent, user_id
    </sql>

</mapper>
