<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.codingmore.mpg.mapper.Qrtz_job_detailsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.codingmore.mpg.entity.Qrtz_job_details">
        <id column="SCHED_NAME" property="SCHED_NAME" />
        <result column="JOB_NAME" property="JOB_NAME" />
        <result column="JOB_GROUP" property="JOB_GROUP" />
        <result column="DESCRIPTION" property="DESCRIPTION" />
        <result column="JOB_CLASS_NAME" property="JOB_CLASS_NAME" />
        <result column="IS_DURABLE" property="IS_DURABLE" />
        <result column="IS_NONCONCURRENT" property="IS_NONCONCURRENT" />
        <result column="IS_UPDATE_DATA" property="IS_UPDATE_DATA" />
        <result column="REQUESTS_RECOVERY" property="REQUESTS_RECOVERY" />
        <result column="JOB_DATA" property="JOB_DATA" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SCHED_NAME, JOB_NAME, JOB_GROUP, DESCRIPTION, JOB_CLASS_NAME, IS_DURABLE, IS_NONCONCURRENT, IS_UPDATE_DATA, REQUESTS_RECOVERY, JOB_DATA
    </sql>

</mapper>
