<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.codingmore.mpg.mapper.Resource_categoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.codingmore.mpg.entity.Resource_category">
        <id column="resource_category_id" property="resource_category_id" />
        <result column="create_time" property="create_time" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        resource_category_id, create_time, name, sort
    </sql>

</mapper>
